<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756492336099-1qgbov9surcg5hv283uteb4n3k2p95hq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756492336099-1qgbov9surcg5hv283uteb4n3k2p95hq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>756492336099-5uhhkpc5hj9smmtpo8653o0lrlfqoobj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbqy8_Qh2Mi1H8p-Vedyef__g-sDcIdlw</string>
	<key>GCM_SENDER_ID</key>
	<string>756492336099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipe</string>
	<key>PROJECT_ID</key>
	<string>deneme-350fb</string>
	<key>STORAGE_BUCKET</key>
	<string>deneme-350fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756492336099:ios:89fd62cc7f4dc787defed6</string>
	<key>DATABASE_URL</key>
	<string>https://deneme-350fb-default-rtdb.firebaseio.com</string>
</dict>
</plist>